body {
  box-sizing: border-box;
  margin: auto;
  width: 400px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.counter {
  margin-top: 50%;
  background-color: lightblue;
  border: 2px solid blue;
  border-radius: 10px;

}

.btn {
  width: 100px;
  height: 40px;
  border: none;
  color: white;
  border-radius: 5px;
  margin: 10px;
  font-weight: 700;
}

.decr-btn {
  background-color: red;
}

.incr-btn {
  background-color: green;
}

.reset-btn {
  background-color: black;
}