body {

  border: 0;
  max-width: 600px;
  margin: auto;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: gray;
}

.main {
  padding: 50px 0;
  margin: 50px 0;
  /* width: 600px; */
}

input {
  width: 450px;
  height: 35px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid black;
}


button {
  color: white;
  border: none;
  font-size: 1rem;
  background-color: green;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 5px;
}

.Cards,
.length {
  /* margin: 25px; */
  background-color: white;
  padding: 25px;
  margin: 10px 0;
  border-radius: 10px;
  /* width: 600px; */
}

.Cards h1 {
  color: rgba(241, 102, 51, 0.92);
}

.length {
  color: red;
  padding: 10px;
  /* margin: ; */
}